# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [55]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import time

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [56]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [57]:
response = requests.get(url)
devs = BeautifulSoup (response.content,"html.parser")

In [58]:
def read_text(select,dict_value=0):
    text=[]
    for tag in select:
        if dict_value==0:
            text.append(tag.get_text().strip())
        else:
            text.append(tag[dict_value])
    return text

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [59]:
# your code here
full_name = []
full_name=read_text(devs.select("div.d-sm-flex.flex-auto > div.col-sm-8.d-md-flex > div:nth-child(1)"))

for i in range(len(full_name)):
    full_name[i]=re.sub(r"\n\s*"," (",full_name[i])
    if " " in full_name[i]:
        full_name[i]=full_name[i]+")"

full_name

['David Teather (davidteather)',
 'Héctor Ramón (hecrj)',
 'Alon Zakai (kripken)',
 'Mladen Macanović (stsrki)',
 'Jirka Borovec (Borda)',
 'Calin Crisan (ccrisan)',
 'Anurag Hazra (anuraghazra)',
 'Thomas Lovén (thomasloven)',
 'Joe Block (unixorn)',
 'Michael Staib (michaelstaib)',
 'Tom Moor (tommoor)',
 'Aditya Oke (oke-aditya)',
 'Jethro Kuan (jethrokuan)',
 'An Tao (an-tao)',
 'Alex Ellis (alexellis)',
 'Arvid Norberg (arvidn)',
 'Sorin Sbarnea (ssbarnea)',
 'Evan Wallace (evanw)',
 'Alex Gaynor (alex)',
 'Christian Rotzoll (rootzoll)',
 'Stefano Gottardo (CastagnaIT)',
 'Gio Lodi (mokagio)',
 'Tim Holy (timholy)',
 'Gleb Bahmutov (bahmutov)',
 'Yoni Goldberg (goldbergyoni)']

#### Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [60]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

response = requests.get(url)
repos = BeautifulSoup (response.content,"html.parser")

In [61]:
# your code here
full_repos=read_text(repos.select("div > div> article > h1 > a"))

for i in range(len(full_repos)):
    full_repos[i]=re.sub(r"\n\s*"," (",full_repos[i])
    full_repos[i]=full_repos[i]+")"
full_repos

['microsoft / (Bringing-Old-Photos-Back-to-Life)',
 'joke2k / (faker)',
 'home-assistant / (core)',
 'Asabeneh / (30-Days-Of-Python)',
 'PyTorchLightning / (pytorch-lightning)',
 'apprenticeharper / (DeDRM_tools)',
 'django / (django)',
 'matplotlib / (matplotlib)',
 'freqtrade / (freqtrade)',
 'ankitects / (anki)',
 'ageitgey / (face_recognition)',
 'Zero-S1 / (xmly_speed)',
 'DIGITALCRIMINAL / (OnlyFans)',
 'public-apis / (public-apis)',
 'ct-Open-Source / (tuya-convert)',
 'davidteather / (TikTok-Api)',
 'lutris / (lutris)',
 'EntySec / (ghost)',
 'quentinhardy / (pytmipe)',
 'Z4nzu / (hackingtool)',
 'kernc / (backtesting.py)',
 'The-Art-of-Hacking / (h4cker)',
 'drduh / (macOS-Security-and-Privacy-Guide)',
 'spesmilo / (electrum)',
 'smicallef / (spiderfoot)']

#### Display all the image links from Walt Disney wikipedia page.

In [62]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
response = requests.get(url)
waltie = BeautifulSoup (response.content,"html.parser")

In [63]:
# your code here
#read_text(waltie.find_all("img"),"src")
text=[]
for tag in waltie.find_all("img"):
    text.append(tag["src"])
print(text)

['//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png', '//upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG', '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg/170px-Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg', '//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG', '//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Disney_Display_Case.JPG/170px-Disney_Display_Case.JPG', '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg', '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/30px-Animation_disc.svg.png', '//upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/29px-P_vip.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/24px-Magic_Kingdom_castle.jpg', '//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/30px-Video-x-generic.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/30px-Flag_of_Los_Angeles_County%2C_California.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/30px-Blank_television_set.svg.png', '//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/30px-Flag_of_the_United_States.svg.png', '//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/22px-Commons-logo.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/25px-Wikiquote-logo.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/30px-Wikidata-logo.svg.png', '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png', '//en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1', '/static/images/footer/wikimedia-button.png', '/static/images/footer/poweredby_mediawiki_88x31.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page.

In [64]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'
response = requests.get(url)
python = BeautifulSoup (response.content,"html.parser")

In [65]:
# your code here
allLinks = read_text(python.find(id="bodyContent").find_all("a"),"href")

In [66]:
allLinks_clean=[]

for i in allLinks:
    if '#' not in i:
        allLinks_clean.append(i)
                 
allLinks_clean

['https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 '/wiki/Pythons',
 '/wiki/Python_(genus)',
 '/w/index.php?title=Python&action=edit&section=1',
 '/wiki/Python_(programming_language)',
 '/wiki/CMU_Common_Lisp',
 '/w/index.php?title=Python&action=edit&section=2',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)',
 '/wiki/Python_of_Byzantium',
 '/wiki/Python_of_Catana',
 '/wiki/Python_Anghelo',
 '/w/index.php?title=Python&action=edit&section=3',
 '/wiki/Python_(Efteling)',
 '/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 '/w/index.php?title=Python&action=edit&section=4',
 '/wiki/Python_(automobile_maker)',
 '/wiki/Python_(Ford_prototype)',
 '/w/index.php?title=Python&action=edit&section=5',
 '/wiki/Python_(missile)',
 '/wiki/Python_(nuclear_primary)',
 '/wiki/Colt_Python',
 '/w/index.php?title=Python&action=edit&section=6',
 '/wiki/PYTHON',
 '/wiki/Python_(film)',
 '/wiki/Python_(mythology)',
 '/wiki/Monty_Python',
 '/wiki/Python_(Monty)_Pictures',
 '/w/index.php?title=Python&action=edit&section=7',
 '/wiki/Cython',
 '/wiki/Pyton',
 '/wiki/Pithon',
 '/wiki/File:Disambig_gray.svg',
 '/wiki/Help:Disambiguation',
 'https://en.wikipedia.org/w/index.php?title=Special:WhatLinksHere/Python&namespace=0',
 'https://en.wikipedia.org/w/index.php?title=Python&oldid=987482924',
 '/wiki/Help:Category',
 '/wiki/Category:Disambiguation_pages',
 '/wiki/Category:Human_name_disambiguation_pages',
 '/wiki/Category:Disambiguation_pages_with_given-name-holder_lists',
 '/wiki/Category:Disambiguation_pages_with_short_descriptions',
 '/wiki/Category:Short_description_is_different_from_Wikidata',
 '/wiki/Category:All_article_disambiguation_pages',
 '/wiki/Category:All_disambiguation_pages',
 '/wiki/Category:Animal_common_name_disambiguation_pages']

#### Find the number of titles that have changed in the United States Code since its last release point.

In [67]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'
response = requests.get(url)
titles = BeautifulSoup (response.content,"html.parser")

In [68]:
# your code here
#read_text(titles.find_all("div", {"class":"usctitlechanged"}))
read_text(titles.find_all("div", class_="usctitlechanged"))

['Title 7 - Agriculture',
 'Title 11 - Bankruptcy ٭',
 'Title 13 - Census ٭',
 'Title 14 - Coast Guard ٭',
 'Title 15 - Commerce and Trade',
 'Title 16 - Conservation',
 'Title 21 - Food and Drugs',
 'Title 24 - Hospitals and Asylums',
 'Title 27 - Intoxicating Liquors',
 'Title 32 - National Guard ٭',
 'Title 33 - Navigation and Navigable Waters',
 'Title 34 - Crime Control and Law Enforcement',
 'Title 36 - Patriotic and National Observances, Ceremonies, and Organizations ٭',
 "Title 38 - Veterans' Benefits ٭",
 'Title 42 - The Public Health and Welfare',
 'Title 45 - Railroads',
 'Title 49 - Transportation ٭',
 'Title 54 - National Park Service and Related Programs ٭']

#### Find a Python list with the top ten FBI's Most Wanted names.

In [69]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'
response = requests.get(url)
wanted = BeautifulSoup (response.content,"html.parser")

In [70]:
# your code here
read_text(wanted.select("#query-results-0f737222c5054a81a120bce207b0446a > ul > li"))

['ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'EUGENE PALMER',
 'RAFAEL CARO-QUINTERO',
 'ROBERT WILLIAM FISHER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'YASER ABDEL SAID']

####  Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.

In [71]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'
response = requests.get(url)
geo = BeautifulSoup (response.content,"html.parser")

In [72]:
# Date and Time: 
geo.select("td.tabev6 > b > a")
time=[]
i=0
for g in geo.select("td.tabev6 > b > a"):
    if i<20:
        time.append(g.get_text())
    i+=1
clean_date_time=[]
for t in time:
    clean_date_time.append(t.split())

dates=[]
times=[]
for t in clean_date_time:
    dates.append(t[0])
    times.append(t[1])

In [73]:
#latitude-longitude

#Adding numerical values to the list:

i=0
lat_long=[]
latitudes=[]
longitudes=[]

for g in geo.find_all("td",class_="tabev1"):
    if i<40:
        lat_long.append(g.get_text())
    i+=1
    
   
for i in range(len(lat_long)):
    lat_long[i]=re.sub(r"\xa0","",lat_long[i])
    if i%2==0:
        latitudes.append(lat_long[i])
    else:
        longitudes.append(lat_long[i])
        
#adding cardinal symbols to a list

i=0
cardinals=[]
card_lat=[]
card_long=[]

for g in read_text(geo.find_all("td",class_="tabev2")):
    if i<60 and re.match(r"[NSWE]", g) is not None:
        cardinals.append(g)
    i+=1
    
    
for i in range(len(cardinals)):
    if i%2==0:
        card_lat.append(cardinals[i])
    else:
        card_long.append(cardinals[i])
        
#concatenating latitudes and longitudes
full_longitudes=[]
full_latitudes=[]
for i in range(len(longitudes)):
    full_latitudes.append(str(latitudes[i])+card_lat[i])
    full_longitudes.append(str(longitudes[i])+card_long[i])

In [74]:
#Regions:
i=0
regions=[]
for reg in geo.find_all("td",class_="tb_region"):
    if i<20:
        regions.append(reg.get_text())
    i+=1
    
for i in range(len(regions)):
    regions[i]=re.sub(r"\xa0","",regions[i])

In [75]:
EarthquakesDF=pd.DataFrame({"Date":dates,
                            "Time":times,
                            "Latitude":full_latitudes,
                            "Longitude":full_longitudes,
                            "Region":regions})

In [76]:
EarthquakesDF

          Date        Time Latitude Longitude                         Region
0   2020-11-16  19:12:02.3   36.78N    97.81W                       OKLAHOMA
1   2020-11-16  19:06:30.0    9.47N    84.69W                     COSTA RICA
2   2020-11-16  18:55:40.4   36.95N    35.58E                 CENTRAL TURKEY
3   2020-11-16  18:51:59.1   59.69N   138.92W            SOUTHEASTERN ALASKA
4   2020-11-16  18:48:58.3   35.64N     4.65W            STRAIT OF GIBRALTAR
5   2020-11-16  18:47:21.0    0.46N   126.27E                    MOLUCCA SEA
6   2020-11-16  18:37:47.0   21.58N   121.06E                  TAIWAN REGION
7   2020-11-16  18:28:21.0    2.92S   119.38E            SULAWESI, INDONESIA
8   2020-11-16  18:24:18.0    0.80S   121.96E            SULAWESI, INDONESIA
9   2020-11-16  18:02:00.0   12.29N    86.96W                      NICARAGUA
10  2020-11-16  17:50:20.3   42.59N    18.57E                     MONTENEGRO
11  2020-11-16  17:44:12.3   17.98N    66.93W                    PUERTO RICO
12  2020-11-16  17:18:17.4   59.75N   138.90W            SOUTHEASTERN ALASKA
13  2020-11-16  17:05:19.0    1.30N   122.83E  MINAHASA, SULAWESI, INDONESIA
14  2020-11-16  17:04:48.0   35.95N    10.08W  AZORES-CAPE ST. VINCENT RIDGE
15  2020-11-16  17:02:23.9   44.15N   115.09W                 SOUTHERN IDAHO
16  2020-11-16  16:56:46.7   19.22N   155.39W       ISLAND OF HAWAII, HAWAII
17  2020-11-16  16:50:51.1   45.89N     7.01E                 NORTHERN ITALY
18  2020-11-16  16:43:09.5   19.18N   155.48W       ISLAND OF HAWAII, HAWAII
19  2020-11-16  16:43:06.4   53.30N   167.32W  FOX ISLANDS, ALEUTIAN ISLANDS

#### List all language names and number of related articles in the order they appear in wikipedia.org.

In [77]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
response = requests.get(url)
wiki = BeautifulSoup (response.content,"html.parser")

In [78]:
# your code here
names_articles=read_text(wiki.find_all(class_="link-box"))
for i in range(len(names_articles)):
    names_articles[i]=re.sub(r"\xa0","", names_articles[i])
    names_articles[i]=re.sub(r"\n",": ", names_articles[i])

In [79]:
names_articles

['English: 6183000+ articles',
 'Español: 1637000+ artículos',
 '日本語: 1235000+ 記事',
 'Deutsch: 2495000+ Artikel',
 'Русский: 1672000+ статей',
 'Français: 2262000+ articles',
 'Italiano: 1645000+ voci',
 '中文: 1155000+ 條目',
 'Português: 1045000+ artigos',
 'Polski: 1435000+ haseł']

#### A list with the different kind of datasets available in data.gov.uk.

In [80]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'
response = requests.get(url)
dsets = BeautifulSoup (response.content,"html.parser")

In [81]:
# your code here
read_text(dsets.select("#main-content > div:nth-child(3) > div > ul > li > h3 > a"))

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport']

#### Display the top 10 languages by number of native speakers stored in a pandas dataframe.

In [82]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
response = requests.get(url)
native = BeautifulSoup (response.content,"html.parser")

In [85]:
# your code here
data=[]
table = native.find('table', attrs={'class':'wikitable sortable'})
rows = native.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])
    
DF=pd.DataFrame(data)
DF.drop(0,inplace=True)
DF[1].replace(to_replace="\[.*\]",value="",inplace=True,regex=True)

DF[1].head(10)

1                    Mandarin Chinese
2                             Spanish
3                             English
4     Hindi (Sanskritised Hindustani)
5                             Bengali
6                          Portuguese
7                             Russian
8                            Japanese
9                     Western Punjabi
10                            Marathi
Name: 1, dtype: object

## Bonus

#### Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.

In [86]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'
response = requests.get(url)
imdb = BeautifulSoup (response.content,"html.parser")
#print(imdb.prettify())

In [87]:
# your code here
stars=read_text(imdb.select("tr > td.titleColumn > a"),"title")
years=read_text(imdb.select("td.titleColumn span.secondaryInfo"))
ratings=read_text(imdb.select("td.ratingColumn.imdbRating > strong"))
titles=read_text(imdb.select("td.titleColumn > a"))

In [88]:
movies_df=pd.DataFrame({"Title":titles,
                        "Year":years,
                        "Ratings":ratings,
                        "Stars":stars})

In [89]:
# year out of the parentheses
movies_df["Year"].replace(to_replace=r"\(*\)*", value="",regex=True,inplace=True)

In [90]:
# remove "(dir.)"
movies_df["Stars"].replace(to_replace=r"\(.*\)+", value="",regex=True,inplace=True)

In [91]:
# a column for each person
movies_df[['Director','Actor 1', 'Actor 2']] = movies_df.Stars.str.split(pat=",",expand=True,)
movies_df.drop("Stars",axis=1,inplace=True)

In [92]:
# year column to integer
movies_df["Year"]=movies_df["Year"].astype("int64")

In [93]:
movies_df

,Title,Year,Ratings,Director,Actor 1,Actor 2
0,Cadena perpetua,1994,9.2,Frank Darabont,Tim Robbins,Morgan Freeman
1,El padrino,1972,9.1,Francis Ford Coppola,Marlon Brando,Al Pacino
2,El padrino: Parte II,1974,9.0,Francis Ford Coppola,Al Pacino,Robert De Niro
3,El caballero oscuro,2008,9.0,Christopher Nolan,Christian Bale,Heath Ledger
4,12 hombres sin piedad,1957,8.9,Sidney Lumet,Henry Fonda,Lee J. Cobb
...,...,...,...,...,...,...
245,La batalla de Argel,1966,8.0,Gillo Pontecorvo,Brahim Hadjadj,Jean Martin
246,Terminator,1984,8.0,James Cameron,Arnold Schwarzenegger,Linda Hamilton
247,Mandarinas,2013,8.0,Zaza Urushadze,Lembit Ulfsak,Elmo Nüganen
248,Aladdín,1992,8.0,Ron Clements,Scott Weinger,Robin Williams
249,Neon Genesis Evangelion: The End of Evangelion,1997,8.0,Hideaki Anno,Megumi Ogata,Megumi Hayashibara

#### Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [94]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
imdb = BeautifulSoup (response.content,"html.parser")

In [95]:
# your code here
i=0
links=[]
titles=[]
years=[]
for tag in imdb.select("td.titleColumn  "):
    if i< 10:
        links.append(tag.a["href"])
        titles.append(tag.a.get_text())
        years.append(tag.span.get_text())
        i+=1

In [98]:
summaries=[]

for link in links:
    response = requests.get("https://www.imdb.com/"+link)
    imdb = BeautifulSoup (response.content,"html.parser")
    summaries.append(imdb.select_one("div.summary_text").get_text().strip())

In [99]:
top10_df = pd.DataFrame({"Title": titles,
                         "Year":  years,
                         "Summary": summaries})

In [100]:
top10_df

,Title,Year,Summary
0,Cadena perpetua,(1994),Two imprisoned men bond over a number of years...
1,El padrino,(1972),The aging patriarch of an organized crime dyna...
2,El padrino: Parte II,(1974),The early life and career of Vito Corleone in ...
3,El caballero oscuro,(2008),When the menace known as the Joker wreaks havo...
4,12 hombres sin piedad,(1957),A jury holdout attempts to prevent a miscarria...
5,La lista de Schindler,(1993),"In German-occupied Poland during World War II,..."
6,El señor de los anillos: El retorno del rey,(2003),Gandalf and Aragorn lead the World of Men agai...
7,Pulp Fiction,(1994),"The lives of two mob hitmen, a boxer, a gangst..."
8,"El bueno, el feo y el malo",(1966),A bounty hunting scam joins two men in an unea...
9,El señor de los anillos: La comunidad del anillo,(2001),A meek Hobbit from the Shire and eight compani...

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [103]:
#https://openweathermap.org/current


city = input('Enter the city: ')

url = "http://api.openweathermap.org/data/2.5/weather?"+"q="+city+"&appid=204500d7335ede16a33a9c785d5f541d"
response = requests.get(url)
print("Temperature: "+str(response.json()["main"]["temp"])+"\nWind speed: "+str(response.json()["wind"]["speed"])+"\nDescription: "+response.json()["weather"][0]["description"]+"\nWeather: "+response.json()["weather"][0]["main"])

Enter the city: barcelona
Temperature: 289.16
Wind speed: 2.1
Description: broken clouds
Weather: Clouds

#### Find the book name, price and stock availability as a pandas dataframe.

In [104]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'
response = requests.get(url)
books = BeautifulSoup (response.content,"html.parser")

In [105]:
book_name = read_text(books.select("  h3 >[title]"))

In [106]:
stock = read_text(books.select("p.instock.availability "))

In [107]:
price = read_text(books.select("p.price_color"))

In [108]:
books_df = pd.DataFrame({"Book ": book_name,
                        "Price": price,
                        "Stock": stock})

In [109]:
books_df

                                    Book    Price     Stock
0                      A Light in the ...  £51.77  In stock
1                      Tipping the Velvet  £53.74  In stock
2                              Soumission  £50.10  In stock
3                           Sharp Objects  £47.82  In stock
4            Sapiens: A Brief History ...  £54.23  In stock
5                         The Requiem Red  £22.65  In stock
6            The Dirty Little Secrets ...  £33.34  In stock
7                 The Coming Woman: A ...  £17.93  In stock
8                     The Boys in the ...  £22.60  In stock
9                         The Black Maria  £52.15  In stock
10  Starving Hearts (Triangular Trade ...  £13.99  In stock
11                  Shakespeare's Sonnets  £20.66  In stock
12                            Set Me Free  £17.46  In stock
13    Scott Pilgrim's Precious Little ...  £52.29  In stock
14                      Rip it Up and ...  £35.02  In stock
15                  Our Band Could Be ...  £57.25  In stock
16                                   Olio  £23.88  In stock
17        Mesaerion: The Best Science ...  £37.59  In stock
18           Libertarianism for Beginners  £51.33  In stock
19                It's Only the Himalayas  £45.17  In stock